---
import Navbar from '../components/Navbar.astro';
import EmergencyTable from '../components/EmergencyTable.astro';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Registro de Emergencias</title>
  </head>
  <body>
    <Navbar />
    <main>
      <h1>Registro de Emergencias</h1>
      <EmergencyTable />
    </main>
  </body>
</html>
