---
import Navbar from '../components/Navbar.astro';
import PersonalTable from '../components/PersonalTable.astro';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Registro de Personal</title>
  </head>
  <body>
    <Navbar />
    <main>
      <h1>Registro de Personal</h1>
      <PersonalTable />
    </main>
  </body>
</html>
